USE [master]
GO
/****** Object:  Database [ShiftJobsDB]    Script Date: 4/28/2017 9:21:27 AM ******/
CREATE DATABASE [ShiftJobsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ShiftJobsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014_RTX_DM1\MSSQL\DATA\ShiftJobsDB.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ShiftJobsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQL2014_RTX_DM1\MSSQL\DATA\ShiftJobsDB_log.ldf' , SIZE = 816KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ShiftJobsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ShiftJobsDB]
GO
/****** Object:  Table [dbo].[Job]    Script Date: 4/28/2017 9:21:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Job](
	[JobID] [int] IDENTITY(1,1) NOT NULL,
	[AppID] [varchar](100) NULL,
	[UserID] [varchar](100) NULL,
	[ProcessID] [varchar](100) NULL,
	[JobType] [varchar](50) NULL,
	[JobName] [varchar](100) NULL,
	[InvokeMeta] [varchar](max) NULL,
	[Parameters] [varchar](max) NULL,
	[Command] [varchar](50) NULL,
	[Status] [int] NULL,
	[Error] [varchar](max) NULL,
	[Start] [datetime] NULL,
	[End] [datetime] NULL,
	[Created] [datetime] NULL,
 CONSTRAINT [PK_Job] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[JobProgress]    Script Date: 4/28/2017 9:21:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[JobProgress](
	[JobID] [int] NOT NULL,
	[Percent] [int] NULL,
	[Note] [varchar](max) NULL,
	[Data] [varchar](max) NULL,
 CONSTRAINT [PK_JobProgress] PRIMARY KEY CLUSTERED 
(
	[JobID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  View [dbo].[JobView]    Script Date: 4/28/2017 9:21:27 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


/****** Object:  View [dbo].[JobView] ******/
CREATE VIEW [dbo].[JobView]
AS
SELECT dbo.Job.*, dbo.JobProgress.[Percent], dbo.JobProgress.Note, dbo.JobProgress.Data
FROM dbo.Job LEFT OUTER JOIN dbo.JobProgress ON dbo.Job.JobID = dbo.JobProgress.JobID


GO
SET ANSI_PADDING ON

GO
/****** Object:  Index [IX_ProcessID]    Script Date: 4/28/2017 9:21:27 AM ******/
CREATE NONCLUSTERED INDEX [IX_ProcessID] ON [dbo].[Job]
(
	[ProcessID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
USE [master]
GO
